@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// Colors
$blue: #0d9de3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 310px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blue;
    text-align: center;
    border-radius: 10px;

    header {
        & > * {
            margin-bottom: 20px;
        }
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 250px;
            border-radius: 5px;
            background-color: white;

            .search-box {
                width: 100%;
                height: 100%;
                padding: 8px 10px;
                background: transparent;
                outline: none;
                border: none;
            }

            button {
                border: none;
                background: transparent;
                cursor: pointer;
            }
            .fa-location-arrow {
                padding: 10px;
                color: $blue;
            }
        }
    }

    main > section > * {
        margin-bottom: 20px;
    }
}

.notification {
    font-weight: bold;
}
